CompileFlags:
  Add:
    - -xc++
    - -std=gnu++20
    - -fno-exceptions
    - -fno-rtti
    - -Wall
    - -Wextra
    - -Wshadow

Index:
  Background: Build

InlayHints:
  Enabled: No

Diagnostics:
  Suppress:
    - unused-includes

Completion:
  HeaderInsertion: Never
