CompileFlags:
  Add:
    - -std=gnu++23
    - -fno-exceptions
    - -fno-rtti
    - -Wall

Index:
  Background: Build

InlayHints:
  Enabled: No

Diagnostics:
  UnusedIncludes: None

Completion:
  HeaderInsertion: Never
  Limit: 20

---
If:
  PathMatch: .*/(third_party|lib)/.*
Index:
  Background: Skip
Diagnostics:
  ClangTidy:
    Suppress: ["*"]
